/* regole di default */
/* ricorda di eliminare colori e altezze inutli */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* classi float e clear */
.clearfix{
  display: table;
  clear: both;
  content:""
}
.float-left{
  float: left;
}
/* header , domanda */
header{
  background-color: #0d325a;
  background-image:url('../img/background-header.png') ;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% , 110%;
}
.container-header{
 line-height: 80px;
 margin: 0 auto;
 width: 85%;
}
/* stessa line height di height sotto */
.container-header li{
  display: inline-block;
  padding: 0 10px;
  height: 80px;
}
.Fluentify{
margin-top: 10px;
}
.listacc{
padding-left: 70px;
}
.listadx{
padding-left: 120px;
}
.jumbotron{
  height: 450px;
  padding-top: 10px;
  margin: 0 auto;
}
/* }
.listasx{
 margin-left: 40px;
}
.listasx ul{
  list-style: none;
  text-transform: uppercase;
  padding-top: 45px;
}
.listasx ul li{
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
}
.listasx ul li a{
  color: white;
  text-decoration: none;
}
.listadx{
margin-left: 100px;
}
.listadx ul{
  list-style: none;
  text-transform: uppercase;
  padding-top: 40px;
}
.listadx ul li{
  display: inline-block;
  border: 1px solid black;
  font-size: 14px;
  padding: 0 10px;
  background-color: black;
  height: 30px;
  border-radius: 5px
}

.listadx ul li a{
  text-decoration: none;
  color: white;
  vertical-align: middle;
} */
/* RIFATTO TUTTO CON CLASSI... PIU VELOCE E PULITO */
/* regole liste btn */
.btn{
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
.btn-green{
  background-color: #7cbb02;
}
.btn-large{
  padding: 20px;
}
.btn-blue{
  border: 1px solid white;
}
.container-header a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}

h1{
  font-size: 60px;
  color: white;
  margin-bottom: 40px;
}
/* finito */
.corpo-top{
  background-color: rgb(196, 196, 196);
  text-align: center;
  line-height: 35px;
  padding: 30px 0;
}
/* finito */

.corpo-middle{
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

h3{
  color:green ;
  padding: 10px 0;
}

 .immagini{
 width: 30%;
}
/* .box lavoro su tutti i box se aggiugno .cc o .sx lavoro nello specifico */
.box{
  text-align: center;
  width: calc(100% / 3 - 20px);
  margin: 0 10px;

}

.lower{
  height: 85%;
  padding-top: 40px;
  padding-left:15%;
  margin-bottom: 100px;

}

.lower-sx{
  width: 40%;

}

.lower-dx{
  margin-left: 7%;
  height: 300px;
  width: 40%;
}

h4{
  font-size: 40px;
  : bottom 20px;
  margin-bottom: 10px;
}

.lower-dx p{
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 20px;
}

.lower-dx span{
 color: blue;
 text-decoration: underline;
}

.bottom{
  background-color: rgb(196, 196, 196);
  height: 400px;
  width: 100%;
}

.bottom-box{
  height: 200px;
  background-color: red;
  width: calc(100% / 2 - 20px);
  margin: 0 10px;

}
